.container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  background-color: white;
  width: 220rem;
  margin: 3rem auto 0;
  padding: 2rem;
  border-radius: 0.5rem;
}

.options {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.sortingDropDown {
  position: relative;
}

.selectedOption,
.option {
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.selectedOption,
.otherOptions {
  width: 25rem;
}

.selectedOption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  border: 2px solid #111;
}

.otherOptions {
  position: absolute;
  border-top: none;
  overflow: hidden;
}

.option {
  background-color: white;
  border-left: 2px solid #111;
  border-right: 2px solid #111;
  transform: translateY(-20rem);
  transition: transform 0.3s ease-in-out;
}

.option:hover {
  background-color: #111;
  color: white;
}

.lastOption {
  border-bottom: 2px solid #111;
}

.loadMoreButton {
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
  border: 2px solid #111;
  width: max-content;
  padding: 1rem 2rem;
  align-self: center;
}

.open {
  transform: translateY(0);
}

.dropDownIcon {
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}
.rotate180 {
  transform: rotate(180deg);
}

@media screen and (max-width: 2300px) {
  .container {
    width: 193rem;
  }
}

@media screen and (max-width: 2150px) {
  .container {
    width: 166rem;
  }
}

@media screen and (max-width: 1850px) {
  .container {
    width: 139rem;
  }
}

@media screen and (max-width: 1700px) {
  .container {
    width: 112rem;
  }
}

@media screen and (max-width: 1500px) {
  .selectedOption,
  .otherOptions {
    width: 20rem;
    font-size: 1.4rem;
  }

  .container {
    width: 85rem;
  }
}

@media screen and (max-width: 1250px) {
  .book {
    width: 18rem;
  }

  .container {
    width: 84rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 64rem;
  }
}
