.container {
  width: 90%;
  margin: 5rem auto 0;
}

.categories {
  color: #777;
  font-weight: 300;
  font-size: 1.5rem;
}

.title {
  font-size: 4rem;
  margin: 0.5rem 0 0 0;
}

.subtitle {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

.publishingInfo {
  display: flex;
  justify-content: space-between;
}

.description {
  margin: 3rem 0 1.5rem 0;
}

.bookImage {
  width: 15rem;
}

.generalInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.availableOperations {
  display: flex;
  gap: 5rem;
}

.operationButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: max-content;
  font-size: 1.8rem;
  margin: 3rem 0 1rem;
  padding: 1.2rem 1.5rem;
  border: 2px solid rgb(17, 17, 17);
}

.icon {
  width: 1.6rem;
  cursor: pointer;
  color: black;
}

.additionalInfo {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.priceInputField {
  width: 20rem;
}

.amount {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 0 0 0;
}

.additionalInfo button {
  background-color: #f3f3f3;
  cursor: pointer;
}

.amountControls {
  border: none;
}

.confirmButton {
  font-size: 2rem;
  border: 2px solid rgb(17, 17, 17);
  margin: 1rem 0 0 0;
  padding: 0.5rem 0.7rem;
  transition: all 0.1s linear;
}

.confirmButton:hover {
  background-color: #111;
  color: white;
}

.additionalInfo button::hover {
  background-color: #f3f3f3;
}
