.container {
  width: 90%;
  margin: 5rem auto 0;
}

.categories {
  color: #777;
  font-weight: 300;
  font-size: 1.5rem;
}

.title {
  font-size: 4rem;
  margin: 0.5rem 0 0 0;
}

.subtitle {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

.publishingInfo {
  display: flex;
  justify-content: space-between;
}
