.container {
  padding: 0 3rem;
}

.welcomeMessage {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  overflow: hidden;
}

.welcomeMessage h1 {
  transform: translateY(-30rem);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out 0.7s;
}

.welcomeMessage:hover h1 {
  transform: translateY(0);
  opacity: 1;
}
